
image: docker.io/foilv/tournaments_go:bot0.4
namespace: tournaments
name: botgo
secret: 
  db: tournament_go
  user: foilv
  pass: "{{ PASS }}"
  host: test-mariadb.tournaments.svc.cluster.local
  bot: {{ BOT }}
  