
image: docker.io/foilv/tournaments_go:bot1.6
namespace: tournaments
imagePullPolicy: Always
name: botgo
secret: 
  db: tournament_go
  user: foilv
  pass: "{{ PASSDB }}"
  host: test-mariadb.tournaments.svc.cluster.local
  bot: {{ BOT }}
  